.footer {

    background-color: #a49b9b;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100vw;
    text-align: center;

  }

 

  /* .footer p {
    margin-bottom: 20px;

  } */