.navbar {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.8);
  }

  .sidebar {
    width: 180px; 
    min-height: 100vh; 
    padding: 20px; 
}
.sidebar .nav-link {
    color: white; 
}
.nav-item{
    color: aliceblue;
}
