<app-navbar></app-navbar>

<!-- <div class="container mt-4">
  <h2>View Projects</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-boxed">
      <thead>
        <tr>
          <th>Project ID</th>
          <th>Project Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        
        <tr *ngFor="let project of projects">
          <td>{{ project.projectId }}</td>
          <td>{{ project.projectName }}</td>
          <td>{{ project.projectDescription }}</td>
          <td>
            <button class="btn btn-sm btn-primary mr-1" (click)="viewTasks(project.projectId)">View Tasks</button>
            <button class="btn btn-primary float-right mx-4" data-toggle="modal" data-target="#editProjectModal" (click)="openEditProjectModal(project.projectId)">Edit</button>
            <button class="btn btn-sm btn-danger mx-1" (click)="deleteProject(project)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->


<div class="container">
  <h2>View Projects</h2>
    <div class="container-card">
    <div *ngFor="let project of projects">
      <div class="card text-white bg-grey mb-3" style="max-width: 18rem;">
        <div class="card-header">Project Id:{{ project.projectId }}</div>
        <div class="card-body">
          <h5 class="card-title">{{ project.projectName }}</h5>
          <p class="card-text">{{ project.projectDescription }}</p>
          <button class="btn btn-sm btn-primary mr-1" (click)="viewTasks(project.projectId)">View Tasks</button>
          <button class="btn btn-sm btn-primary mx-1" data-toggle="modal" data-target="#editProjectModal" (click)="openEditProjectModal(project.projectId,project.projectName,project.projectDescription)">Edit</button>
          <button class="btn btn-sm btn-danger mx-1" (click)="deleteProject(project)">Delete</button>
        </div>
      </div>
  </div>
</div>
</div>



<div class="modal fade" id="editProjectModal" tabindex="-1" role="dialog" aria-labelledby="editProjectModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="editProjectId">Project ID</label>
          <input type="text" class="form-control" id="editProjectId"  [(ngModel)]="selectedProjectId" placeholder="Enter Project ID" readonly required>
        </div>
        <div class="form-group">
          <label for="editProjectName">Project Name</label>
          <input type="text" class="form-control" id="editProjectName" [(ngModel)]="selectedProjectName" placeholder="Enter Project Name" required>
        </div>
        <div class="form-group">
          <label for="editProjectDescription">Description</label>
          <textarea class="form-control" id="projectDescription" [(ngModel)]="selectedProjectDescription" placeholder="Enter Description"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button class="btn btn-success" data-dismiss="modal" (click)="updateProject()">Update Project</button>
      </div>
    </div>
  </div>
</div>